body {
    background-image: url('assets/jaguar-xe.jpg');
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(0,0,0,0.7);
    max-width: 600px;
    position: relative;
    top: 150px;
    left: 100px;
    color: #fff;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}

button {
    background-color: rgba(222, 48, 48, 1);
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    width: 30%;
}